<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credit.mapper.rate.RateLevelDicMapper">
	<resultMap id="RateLevelDicMap" type="RateLevelDic">
		<result column="code" jdbcType="INTEGER" property="code" />
		<result column="name" jdbcType="VARCHAR" property="name" />
	</resultMap>
	<select id="selectAll" resultMap="RateLevelDicMap">
		select code, name
		from
		dic_ratelevel
  </select>
</mapper>